name: Render and Publish
on:
  push:
    branches:
      - main 
jobs:
  build-deploy:
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: Check out repository
          uses: actions/checkout@v3
          
        - name: Set up Quarto
          uses: quarto-dev/quarto-actions/setup@v2
          with:
            version: 1.3.340

        - name: Install Python and Dependencies
          uses: actions/setup-python@v5
          with:
            python-version: '3.10'
            cache: 'pip'

        - name: Upgrade pip
          run: |
            python -m pip install --upgrade pip
            pip --version
        
        - run: pip install jupyter
        - run: pip install -r requirements.txt

        - name: Publish to GitHub Pages (and render)
          uses: quarto-dev/quarto-actions/publish@v2
          with:
            target: gh-pages # renderred html files will be pushed here
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # this secret is always available for github actions
